---
import { getCollection } from "astro:content";
import Layout from "../layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("post")).reverse();
---
<Layout
	language="en"
	title="Škoda Petr"
	description="List of all my posts."
	className="container"
>
	<p>
		This is listing of all posts.
		Please keep in mind that some of them may not be relevant anymore.
	</p>
	<div>
		<b>Disclaimer:</b>
		<a href="./disclaimer" class="no-underline danger">There is no quality control.</a>
	</div>
	<section>
		<ul class="list-none p-0">
			{posts.map((post) => (
				<li>
					<article class="card">
						<div class="flex flex-row">
							<h4 class="title m-0 mb-1">
								<a href={`/post/${post.slug}/`} class="no-underline">
									{post.data.title}
								</a>
							</h4>
							<div class="mx-auto"></div>
							<div class="date">
								<FormattedDate value={post.data.published} />
							</div>
						</div>
						{post.data.tags === undefined || post.data.tags.length === 0 ? null :
							<div class="flex flex-row gap-1 mb-1">
								{(post.data.tags).map((item) => (
									<div class="bg rounded-md py-1 px-2 text-sm shadow-sm">{item}</div>
								))}
							</div>
						}
						{post.data.description === undefined ? null :
							<div class="mb-0" set:html={post.data.description}/>
						}
					</article>
				</li>
			))}
		</ul>
	</section>
</Layout>
